import { Component } from '@angular/core';

@Component({
  selector: 'app-<%= dasherize(name) %>',
  imports: [],
  template:  `
    <h1><%= classify(name) %> custom component created</h1>
  `,
  styles: ` 
  `,
})
export class <%= classify(name) %> {}